body {
    background-color: white;
    cursor: default;
    color: black;
    font-family: monospace;
    margin: 0;
    padding: 0;
    zoom: 100%;
    transition: background-color 0.6s, color 0.6s;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::selection {
    background-color: black;
    color: white;
}

input[type="text"] {
    color: black;
    caret-color: lime;
    caret-color: black;
}

.error {
    background-color: rgb(116, 0, 0);
    color: white;
    height: 100%;
}

.help-args {
    color: gray;
}

a {
    background-color: rgb(0, 63, 238);
    color: white;
}

a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}